/工作&学习.Net训练营/Practice_Web/obj
/工作&学习.Net训练营/Infrastructure/obj
/工作&学习.Net训练营/Infrastructure/bin
/工作&学习.Net训练营/Practice_Web/bin
/工作&学习.Net训练营/Domain/obj
/工作&学习.Net训练营/Domain/bin
/工作&学习.Net训练营/Application/obj
/工作&学习.Net训练营/Application/bin
