@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><button id="LookData" onclick="ClickBut()">查看所数据类型数组</button></p>
</div>


<script type="text/javascript">

    function ClickBut() {
        $.ajax({
                async: true,
                url:"@Url.Action("Index", "Array")",
                type: 'post',
                success: function (res) {
                    console.log(res);
                }
              });
    }
</script>